{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>

    {% comment %} Add my styling links {% endcomment %}
    {% tailwind_css %}
    {% comment %} Referencing my External styles sheet {% endcomment %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/styles.css' %}?v=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}?v=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  
  </head>
  <body>
    <!-- Create NavBar Here -->
    {% include 'webapp/navbar.html' %}

          {% block content%}

          {% endblock %}

     {% comment %} Add my javascript here {% endcomment %}
     <script src="{% static 'js/app.js' %}"></script>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin = "anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  </body>
</html>