{% extends "webapp/base.html" %}

{% block content %}



<body class="w-element">
  <div class="w-box">
    <main class="Body">
      <section class="Hero_banner/03">
        <div class="Container">
          <div class="Content wrapper">
            <!-- Your test button -->
            <button class="custom-button">Test Button</button>
          </div>
        </div>
      </section>
      <section class="Partner section/3"></section>
      <section class="Value section/1"></section>
      <section class="Testimonial section/4"></section>
      <section class="Trial banner/2"></section>
      <section class="Solution section/1"></section>
    </main>
  </div>
</body>

{% endblock %}
