.Body div {
  /* Preset */
border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
box-sizing: border-box;
outline-width: 1px;
}

/* ********************************************* */

.Hero_Banner{

}

.Hero_Banner .Container{
  
}

.Hero_Banner .Content_wrapper{
  
}

.Hero_Banner .Text_wrapper{
  /* Style Sources */
align-items: center;
column-gap: var(--gap-s);
display: flex;
flex-direction: column;
justify-content: center;
row-gap: var(--gap-s);
}

.Hero_Banner .Small_eyebrow{


/* Style Sources */
align-items: center;
border-bottom-left-radius: var(--font-size-4);
border-bottom-right-radius: var(--font-size-4);
border-bottom-style: solid;
border-left-style: solid;
border-right-style: solid;
border-top-left-radius: var(--font-size-4);
border-top-right-radius: var(--font-size-4);
border-top-style: solid;
color: black;
column-gap: var(--gap-xs);
display: flex;
flex-grow: 0;
flex-shrink: 1;
font-family: system-ui, sans-serif;
font-size: 16px;
height: var(--font-size-1);
justify-content: start;
line-height: 1.2;
row-gap: var(--gap-xs);
text-align: start;
padding: var(--size-3);
}

Hero_Banner .Heading{
  /* Style Sources */


/* Style Sources */
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-width: 1px;
color: black;
flex-grow: 0;
flex-shrink: 1;
font-family: system-ui, sans-serif;
font-size: 16px;
font-weight: 600;
height: auto;
line-height: 1.2;
margin-bottom: 1.33em;
margin-top: 1.33em;
max-height: none;
max-width: none;
min-height: auto;
min-width: auto;
text-align: start;
width: auto;
}